    body {
      margin: 0;
      padding: 0;
      height: 100vh;
      background-size: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-color: #000;
      font-family: sans-serif;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      position: relative;
      overflow: hidden;
    }
    .watermark {
      position: absolute;
      opacity: 0.1;
      user-select: none;
      pointer-events: none;
    }